# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Databases (Rubric Requirement: Add *.db to .gitignore)
*.db
data/db/bluestock_mf.db

# OS-specific
.DS_Store
Thumbs.db
